<div class="row animated fadeIn" *ngIf="!loading">
  <div class="col-2">
    <img 
      [src]="artist.images | noimages" 
      alt="artist-image"
      class="img-thumbnail img-circle"
    >
  </div>

  <div class="col">
    <h3>{{artist.name}}</h3>
    <p>
      <a 
        [href]="artist?.external_urls?.spotify"
        target="_blanck"
      >Go to the artist's page</a>
    </p>
  </div>

  <div class="col-4 text-right">
    <button routerLink="['/search']" class="btn btn-outline-danger">
      Come back
    </button>
  </div>
</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>
